<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('./partials/stylingHead.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    Home Page
</body>
</html>