body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.coffee-container {
    background-color: rgb(193, 162, 140);
    border: 1px solid rgb(44, 25, 1);
    border-radius: 5px;
    margin: 12px;
    padding: 22px;
}